.App {
  text-align:center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;           /* ocupa toda la altura de la ventana */
  display: flex;
  flex-direction: column;      /* apila los hijos verticalmente */
  align-items: flex-start;     /* los alinea a la izquierda */
  justify-content: flex-start;     /* centra todo verticalmente */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20px;          /* opcional: espacio desde el borde izquierdo */
}


.botones-rendimiento {
  height: 32vh; 
  display: flex;
  flex-direction: column;     /* botones en columna */
  justify-content: center;    /* centra verticalmente */
  align-items: center;    /* alinea a la izquierda (usa center si los quieres centrados) */
  padding-left: 130px;         /* opcional, separa del borde izquierdo */
  gap: 5px; 
}

.botones-historial {
  height: 45vh; 
  display: flex;
  flex-direction: column;     /* botones en columna */
  justify-content: center;    /* centra verticalmente */
  align-items: center;    /* alinea a la izquierda (usa center si los quieres centrados) */
  padding-left: 40px;         /* opcional, separa del borde izquierdo */
  gap: 5px; 
}

.texto-color{
  color: black;
}

.texto-color label {
  color: white;
}

.titulo-tabla {
  padding-left: 55px;
  color: white; /* o cualquier color que estés usando */
}

.contenedor-superior {
  position: relative;
  width: 100%;
}

.graficas-posicion {
  position: absolute;
  top: 0;
  right: 0;
}

.superposicion-cmbx{
  position: relative;
}

